[scenario]
  	#textdomain wesnoth-Legend_of_Wesmere
id=Battle_of_the_book
	name= _ "Battle of the book"
{LOW_MAP Kal11}
	turns=34
  
{DAWN}
    {MORNING}
    {AFTERNOON}
    {DUSK}
    {FIRST_WATCH}
    {SECOND_WATCH}
    
    next_scenario=Revelations
    [story]
	music=underground.ogg
[part]
id=et_1
story= _ "Quickening their pace, Elves and Dwarves raced towards the smoke...."
delay=4000
background=LOWmap.png
{DOT 220 270}
{CROSS 222 268}

	[/part]
	
[/story]


	[side]
	type=Elvish Fighter
	description=Kalenz
	side=1
	canrecruit=1
	controller=human
	recruit=Elvish Fighter,Elvish Archer,Elvish Scout,Elvish Shaman,Dwarvish Fighter,Dwarvish Thunderer,Dwarvish Ulfserker, Dwarvish Berserker 
	team_name=kalenz
		fog=yes
[/side]
	
	[side]
	type=Drake Mage
	description=Aquagar
	side=2 
	canrecruit=1
	controller=ai
{GOLD 230 290 320}
	recruit=Drake Warrior,Drake Burner,Drake Mage,Drake Petit,Drake Clasher,Drake Fighter
	team_name=drakes
	shroud=yes
	[/side]	
[side]
type=Elder Mage
description=Crelanu
side=3
canrecruit=1
controller=ai
{GOLD 80 80 80}
recruit=Mage, Gryphon
	team_name=kalenz
[/side]

	[side]
	type=Troll Warrior
	description=Trigrul 
	side=4 
	canrecruit=1
	controller=ai
#ifdef EASY
			recruit=Troll Rocklobber,Troll Whelp,Ogre
#else
			recruit=Troll,Troll Rocklobber,Ogre
#endif
			{INCOME 5 10 20}
{GOLD 120 170 190}
	team_name=drakes
	shroud=yes
	[/side]	



 [event]
	name=prestart
		[objectives]
		side=1
			[objective]
				description= _ "Defeat the drakes and trolls"
				condition=win
			[/objective]
				[objective]
				description= _ "Death of Kalenz"
				condition=lose
			[/objective]
			[objective]
				description= _ "Death of Landar"
				condition=lose
			[/objective]
			[objective]
				description= _ "Death of Olurf"
				condition=lose
			[/objective]
						[objective]
				description= _ "Death of Cleodil"
				condition=lose
			[/objective]
				[objective]
				description= _ "Death of Crelanu"
				condition=lose
			[/objective]
			[objective]
				description= _ "Turns run out"
				condition=lose
			[/objective]
		[/objectives]

		[recall]
			description=Landar
		[/recall]
		[recall]
			description=Andulias
		[/recall]	
[recall]
description=Huraldur
[/recall]

[recall]
description=Cleodil
[/recall]

[recall]
description=Tameril-Isimeril
[/recall]

[recall]
description=Laril
[/recall]
[recall]
description=Arkildur 
[/recall]
[recall]
description=Olurf 
[/recall]
	[/event]	

	

[event]
	name=start
	
[message]
		id=msg1_1
		description=Landar
message= _ "Looks like your mage friend is in trouble. There is a horde of drakes attacking!"
		[/message]
		[message]
		id=msg1_2
		description=Kalenz
message= _ "We need to make sure nothing happens to the mage. Let's help them out!"
		[/message]
		[message]
		id=msg1_3
		description=Aquagar
message= _ "Fools! The book will be mine!"
		[/message]

[/event]
[event]
	name=die
		[filter]
		description=Kalenz
		[/filter]
		[message]
		id=msg1_4
		speaker=unit
		message= _ "No, my mission is not completed!..."
		[/message]
			[endlevel]
		result=defeat
		[/endlevel]
	[/event]

	[event]
	name=die
		[filter]
		description=Landar
		[/filter]
		[message]
		id=msg1_5
		speaker=Kalenz
		message= _ "Landar, no!! ..."
		[/message]
			[endlevel]
		result=defeat
		[/endlevel]
	[/event]

	[event]
	name=die
		[filter]
		description=Olurf
		[/filter]
		[message]
		id=msg1_6
		speaker=Kalenz
		message= _ "Olurf, stay with me! "
		[/message]
			[endlevel]
		result=defeat
		[/endlevel]
	[/event]


	[event]
	name=time over
		[message]
		id=msg1_7
		description=Kalenz
message= _ "We still have not made it to safety. With all these creatures around we might as well give up!..."
		[/message]
	[/event]
			[event]
	name=die
		[filter]
		description=Cleodil
		[/filter]
		[message]
		id=msg1_8
		speaker=Kalenz
		message= _ "Cleodil, no!!"
		[/message]
			[endlevel]
		result=defeat
		[/endlevel]
	[/event]
			[event]
	name=die
		[filter]
		description=Crelanu
		[/filter]
		[message]
		id=msg1_9
		speaker=Kalenz
		message= _ "There goes our last hope!"
		[/message]
			[endlevel]
		result=defeat
		[/endlevel]
	[/event]
 
	[event]
	name=die
		[filter]
		description=Aquagar
[/filter]
		[message]
		id=msg1_10
		speaker=Aquagar
message= _ "I die, but I will not go unavenged! Cursed may you be Kalenz! May you will never find lasting peace for many many years. And may you lose your dearest. This will be the price for slaying me, Aquagar, great drake wizard of Morogoth. As for you, Crelanu, may your book always haunt you and all its future owners!"
		[/message]
[message]
id=msg1_11
speaker=Olurf
message= _ "Some scary fellow this Aquagar! Come now, I think Crelanu ows us some drinks"
[/message]
[/event]

[/scenario]
