[scenario]
  	#textdomain wesnoth-Legend_of_Wesmere	
id=Saurian_Treasury
	name= _ "The Saurian Treasury"
{LOW_MAP Kal5}
	turns=20
 #define LOOT AMOUNT SIDE
	[command]
		[gold]
			side={SIDE}
			amount={AMOUNT}
		[/gold]
	[/command]
	
	[command]
		[message]
			id=trow_macros_1
			speaker=narrator
			message= _ "You retrieve {AMOUNT} pieces of gold."
		[/message]
	[/command]
#enddef 
{DAWN}
    {MORNING}
    {AFTERNOON}
    {DUSK}
    {FIRST_WATCH}
    {SECOND_WATCH}
 
    next_scenario=Aquaintance_in_Need
    [story]
	music=underground.ogg
	[part]
	id=et_1
	story= _ "Elvish scouts quickly picked up the trails of the Saurian war party and soon Kalenz's force moved in ..."
	delay=4000
	background=LOWmap.png
{DOT 238 350}
{DOT 228 345}
{DOT 218 345}
{DOT 208 345}
{DOT 198 345}
{DOT 188 345}
{CROSS 170 345}
	[/part]
	
[/story]


 
	[bigmap]
			background=misc/map.png
{DOT 238 350}
{DOT 228 345}
{DOT 218 345}
{DOT 208 345}
{DOT 198 345}
{DOT 188 345}
{CROSS 170 345}
	[/bigmap]


	[side]
	type=Elvish Fighter
	description=Kalenz
	side=1
	canrecruit=1
	controller=human
	recruit=Elvish Fighter,Elvish Archer,Elvish Scout,Elvish Shaman
	team_name=kalenz
[/side]
		[side]
		type=Saurian Warrior
		description=Hraurg
		side=2
		canrecruit=1
		{GOLD 100 140 160}
		{INCOME 4 8 12}
		team_name=Liz
#ifdef EASY
		recruit=Saurian
#else
		recruit=Saurian, Mudcrawler, Giant Mudcrawler, Saurian Warrior
#endif	 
		[ai]
			{NO_SCOUTS}
				recruitment_ignore_bad_movement=yes
			recruitment_pattern=scout
			             aggression=0.75
		[/ai]
[/side]

	
[side]
	type=Saurian Warrior
		description=Spahr
		side=3
		canrecruit=1
		{GOLD 100 240 320}
		{INCOME 4 8 12}
		team_name=Liz
#ifdef EASY
		recruit=Saurian
#else
		recruit=Saurian, Mudcrawler, Giant Mudcrawler, Saurian Warrior
#endif
		[ai]
					recruitment_ignore_bad_movement=yes
			recruitment_pattern=scout 
		[/ai]
[/side]


 [event]
	name=prestart
		[objectives]
		side=1
				[objective]
				description= _ "Defeat all enemies"
				condition=win
			[/objective]
[objective]
				description= _ "Enter the Saurian Treasury and leave with the gold"
				condition=win
			[/objective]

						[objective]
				description= _ "Death of Kalenz"
				condition=lose
			[/objective]
						[objective]
				description= _ "Death of Landar"
				condition=lose
			[/objective]
									[objective]
				description= _ "Death of Cleodil"
				condition=lose
			[/objective]
				[objective]
				description= _ "Turns run out"
				condition=lose
			[/objective]
		[/objectives]
		[recall]
			description=Landar
		[/recall]
		[recall]
			description=Andulias
		[/recall]	
[recall]
description=Huraldur
[/recall]

[recall]
description=Cleodil
[/recall]

[recall]
description=Tameril-Isimeril
[/recall]

[recall]
description=Laril
[/recall]
[recall]
description=Arkildur 
[/recall]

	[/event]	

			[item]
	x=10
	y=21
	image=terrain/temple.png
	[/item]

[event]
	name=start
	
[message]
		id=msg1_1
		description=Kalenz
		message= _ "There they are. They have transferred our gold to their treasury. We must strike quickly and leave with the gold before they bring in reinforcements"
		[/message]
		[message]
		id=msg1_2
		description=Hraurg
		message= _ "The elves have followed us! We must hold the gold until reinforcements arrive."
		[/message]
	
[/event]
[event]
	name=die
		[filter]
		description=Kalenz
		[/filter]
		[message]
		id=msg1_3
		speaker=unit
		message= _ "I have failed! This is the end..."
		[/message]
			[endlevel]
		result=defeat
		[/endlevel]
	[/event]

	[event]
	name=die
		[filter]
		description=Landar
		[/filter]
		[message]
		id=msg1_4
		speaker=Kalenz
		message= _ "No!! It is hopeless without Landar..."
		[/message]
			[endlevel]
		result=defeat
		[/endlevel]
	[/event]
	[event]
	name=time over
		[message]
		id=msg1_5
		description=Kalenz
		message= _ "More Saurians are coming, we are defeated..."
		[/message]
	[/event]
		


	[event]
	name=die
                [filter]
description=Spahr
                [/filter]
		[message]
		id=msg1_6
		speaker=unit
		message= _ "Aargh! I'm dying!"
		[/message]


	[/event]

 
[event] 
name=moveto 
[filter] 
side=1 
x,y=10,21
[/filter] 
[message] 
id=msg1_7
speaker=unit 
message= _ "We got to the treasury. It was much easier than we thought...What's this?"
		[/message]
#define UNIT_717 NAME TYPE 
[unit] 
description={NAME} 
side=2 
type={TYPE} 
x,y=10,21
role=need_to_kill
[/unit] 
#enddef 
{UNIT_717 Swirh (Saurian Warrior)} 
{UNIT_717 Cfir Saurian} 
{UNIT_717 Kfir Saurian} 
#ifdef HARD 
{UNIT_717 Hrish (Saurian Warrior)} 
#endif 
[message]
id=msg1_8
description=Swirh
message= _ "Stupid elves thought the treasury was unguarded! Guards, slay these intruders!"
[/message]

[event] 
name=die 
first_time_only=no 
  [if] 
   [have_unit] 
role=need_to_kill 
   [/have_unit] 
   [else] 
    [endlevel] 
    bonus=yes 
    [/endlevel] 
   [/else] 
  [/if] 
[/event] 
[/event] 









[event]
name=victory	
[message]
id=msg1_9
description=Kalenz
message= _ "We have recovered our gold. "
		[/message]
[message]
id=msg1_10
role=Supporter
message= _ "No, we have recovered much more than our gold. Seems like the Saurians had robbed much more than our gold!"
[/message]

[message]
id=msg1_11
description=Spahr
message= _ "They took all our gold! Quickly, set up garrisons everywhere. I will give 500 gold to whoever kills their leader. They must not escape."
[/message]

[message]
id=msg1_12
description=Kalenz
message= _ "Turnaround is fair play. Now let's get all the gold and get back to Wesmere. But by now all Saurians will be looking for us, so we will take a route to the north. "
		[/message]
{LOOT 1800 1}

[/event]
	[event]
	name=die
		[filter]
		description=Cleodil
		[/filter]
		[message]
		id=msg1_13
		speaker=Kalenz
		message= _ "No!! Not Cleodil!"
		[/message]
			[endlevel]
		result=defeat
		[/endlevel]
	[/event]

[/scenario]
